.header{
    background:url(../img/top.jpg) no-repeat;
    width: 100%;
    height:400px;
}

.main{
    z-index: 2;
    width:900px;
    height: 100%;
    position: relative;
    margin:0 auto;
}

#page{
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

html{
    font-family: Arial;
}

.wraper{
    width: 100%;
    height: 50%;
    z-index: 1;
}

.navbar{
    float: right;
    margin-top: 40px;
}

.navbar>li{
    display: inline-block;
}

.navbar>li>a{
    text-decoration: none;
    padding: 10px;
    color: aliceblue;
}

.navbar>li>a:hover{
    background:url(../img/menu_bg.gif) top repeat-x #b3b3b3;
    color: blueviolet;
    border-radius: 4px;
}


.discribing{
    height: 100%;
    width: 480px;
}

.text1{
    font-size:30px;
    color:aliceblue;
}

div>span{
    display: block;
}

article>p{
    font-size: 14px;
    color: #8b847d;
    margin-top: 8px;
}

.link{
    text-decoration: none;
    background: url(../img/marker_1.gif) right 5px no-repeat;
    display: inline-block;
    padding-right: 15px;
}

#img1{
    background: url(../img/bg_img1.png) top center no-repeat;
    height: 580px;
    width: 100%;
    position: absolute;
}

#img2{
    background: url(../img/bg_img2.png) top center no-repeat;
    height: 400px;
    width: 100%;
    position: absolute;
}

.body1{
    height: 180px;
    width: 100%;
    margin-top: -12px;
    background: url(../img/line_hor1.jpg) bottom repeat-x #f5f5f5;
}

.box1
{   background:url(../img/box1.jpg) 0 0 no-repeat;
    float:left;
    font:20px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#f2f2f2;font-weight:bold;
    line-height:41px;
    width:41px;
    text-align:center;
    margin-right:35px
}

.list1 {
    padding:38px 0 6px 0;
    list-style: none;
    font-size: 12px;
}

.list1 li {
    line-height:19px;
    width:100%;
    overflow:hidden;
    margin-bottom:14px;
}

.content{
    width: 100%;
    padding-bottom: 50px;
    display: block;
}

.main_text{
    height: 100%;
    width: 460px;
    display: inline-block;
}

h2{
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #4e4e4e;
}

a{
    color:#a369c4;
    font-size: 14px;
}

a:hover {
    text-decoration:none;
}

.info_picture{
    display: inline-block;
    padding-left:45px;
    height: 100%;
    width: 160px;
}

.pos{
    position: absolute;
}

.color1{
    color: #8e8e8e;
    font: 24px Arial, Helvetica, sans-serif;
    line-height: 24px;
}

.block{
    width: 260px;
    display: inline-block;
}

.pad_left{
    padding-left: 50px;
}

.color2{
    color:#4e4e4e;
}

.list2{
    list-style: none;
    padding-bottom: 18px;
    margin: 0;
    padding-left: 0px;
}

.list2 li{
    line-height: 24px;
    padding-left: 28px;
    background: url(../img/marker_2.jpg) no-repeat;

}

.list2>li>a{
    color: #4e4e4e;
}

.pre_footer{
    background:url(../img/line_hor2.jpg) top repeat-x #f5f5f5;
}

.bot_navbar{
    margin-top: 0px;
}

.bot_navbar>li{
    display: inline-block;
    padding: 0 40px 0 40px;
    margin: 10px 10px 0 10px;
    font-size: 16px;
}

.bot_navbar>li>a{
    color: #4e4e4e;
}

.footer{
    background: url(../img/bot.jpg) top center no-repeat #38294a;
}

footer{
    text-align: center;
    padding-top: 25px;
    height: 67px;
}

footer>a{
    display: block;
    color: #dfd2e7;
}

.pad_bot{
    padding-bottom: 20px;
}

.pad_top{
    padding-top: 20px;
}

.header1{
    background:url(../img/top.jpg) no-repeat;
    width: 100%;
    height: 300px;
}

.wraper1{
    width: 100%;
    height: 35%;
    padding-bottom: 10px;
}

.marg_right{
    margin-right: 46%;
}

.body2{
    background: url(../img/line_hor1.jpg) bottom repeat-x #f5f5f5;
}


.img2{
    margin-right: 40px;
    display: inline-block;
    background: url(../img/page2_img1.jpg)0 0 no-repeat;
    width: 93px;
    height: 117px;
}

.text2{
    font-size: 14px;
    color: #8b847d;
    display: inline-block;
    position: absolute;
}

strong{
    color:#4e4e4e;
}

.text3{
    font-size: 14px;
    color: #8b847d;
    display: inline-block;
    width: 500px;
}

.text3>p{
    margin: 5px 0px 5px 0px;
}

.box2{
    padding-left: 15px;
    padding-top: 20px;
    display: inline-block;
    position: absolute;
    width: 380px;
}

.info{
    padding-bottom: 15px;
}

.info_block{
    display: inline-block;
    position: absolute;
    font-size: 14px;
    color: #8b847d;
    padding-left: 20px;
}

.info_block>p{
    margin-top: 5px;
}

.content2{
    height: 280px;
}